<h2>Recipe Name</h2>
<form action="">
    <div class = 'dropdown'>
        <button class = 'dropbtn'>Manage Recipe</button>
        <p>
            Desciption <br>
            Ingredients
        </p>
    </div>
    <div class = 'reciperow'>
        <div class = 'inputs'>
            <label for="name">Name</label><br>
            <input type="text" id = 'name' name = 'name'>
        </div>
        <div class = 'inputs'>
            <label for="amount">Amount</label><br>
            <input type="text" id = 'amount' name = 'amount'>
        </div>
    </div>
    <div class = 'buttongroup'>
        <button type="button" class = 'add-button'>Add</button>
        <button type="button" class = 'delete-button'>Delete</button>
        <button type="button" class = 'clear-button'>Clear</button>
    </div>
</form>
