<p>display-person-info works!</p>
<!-- <h1>display-info works!</h1>
  <div>
  <table style ="width: 100%;">
    <tr>
      <th> FirstName </th>
      <th> LastName</th>
      <th> Email </th>
    </tr>
    <tr *ngFor = "let item of peopleList; let i = index;"  class= "row-link">
      <td (click) = 'navigateTo(item)' class = "detail-link">{{ item.firstname }}</td>
      <td>{{ item.lastname }} index:{{ i }}</td>
      <td>{{ item.email }} </td>
      <td>{{ item.gender }}</td>
      <td>{{ item.country }}</td>
      <td><button type="button" (click) = 'deleteEntry(peopleListKeys[i])'>Delete Key</button></td>
    </tr>
  </table>
</div>-->