<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=com.oracle.database.jdbc"/>
        <listEntry value="archetypeArtifactId=eclipselink-project-archetype"/>
        <listEntry value="archetypeVersion=1.0"/>
        <listEntry value="groupId=1"/>
        <listEntry value="artifactId=1"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package="/>
        <listEntry value="outputDirectory=E:\EE_Workspace\Cogent"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\tmyho\AppData\Local\Temp\m2e-archetypeGenerator6075157851631815715"/>
</launchConfiguration>
